version: "3.9"

services:
  line-bot:
    build: .
    container_name: line-bot
    ports:
      - "8000:8000"
    env_file:
      - ./app/.env
    volumes:
      - ./app:/app
    restart: unless-stopped
